/* ! Création des variables de couleurs pour les thèmes */

html {

    --color-backgroung: #0AC3A7 ;
    --color-letter : #FFFDD8 ;
    --color-letf : #234B78 ;
    --color-right : #774359 ;
    --color-center : #D83A37 ;
    --color-button : #FFB400 ;

}

/** Page principale =========================================================*/

main {
    font-family: 'Original Surfer', cursive;
    display: flex;
    color: var(--color-letter);
}

/**Header =================================================================  */

.header {
    background-color: var(--color-backgroung) ;
    width: auto ;
    height: 5vh ;
    text-align: center ;
    font-weight: bolder ;
}

h1 {

    color: var(--color-letter);
}

h2 {

    color: var(--color-letter);
    margin-top: 0.5em ;
}
/** Côté gauche================================================================ */

#div--left {
    width: 25%;
    height:90vh;
    background-color: var(--color-letf) ;
    /*=================================*/
    
}

.choice {

    margin-bottom: 18em ;
    margin-top: 2em ;
    padding: 1em ;
    text-align: center;
    font-family: 'Original Surfer', cursive ;
}

#themes {

    width: 6em ;
    font-family: 'Original Surfer', cursive ;
    background-color: var(--color-button) ;
    border-radius: 5px ;
}

#season {

    width: 6em ;
    font-family: 'Original Surfer', cursive ;
    background-color: var(--color-button) ;
    border-radius: 5px ;
}

#langage {

    width: 6em ;
    font-family: 'Original Surfer', cursive ;
    background-color: var(--color-button) ;
    border-radius: 5px ;
}

/** Centre de la page ============================================================  */

#div--center{

    width: 50%;
    height:90vh;
    background-color: var(--color-center) ;
}

#hangman{

    height: 70%;
    width:100%;
    background-color:  var(--color-center) ;
}

#table{

    height: 30%;
    width:100%;
    background-color:  var(--color-center) ;
}


/** Côté droit========================================================================== */

#div--right {
    width: 25%;
    height:90vh;
    background-color: var(--color-right) ;
    text-align: center ;

}

#input {
    height: 2em ;
    width: 10em ;
    font-family: 'Original Surfer', cursive ;
    background-color: var(--color-button) ;
    margin: 1em ;
    margin-top: 30em ;
    border-radius: 5px ;

}

#button {

    height: 2em ;
    width: 5em ;
    font-family: 'Original Surfer', cursive ;
    background-color: var(--color-button) ;
    margin: 1em ;
    border-radius: 5px ;
}

/**Footer==============================================================================  */

.footer {
    background-color: var(--color-backgroung) ;
    width: auto ;
    height: 5vh ;
    text-align: center ;
}

.footer p {

    color: var(--color-letter) ;
    padding-top: 0.5em ;
    font-family: 'Original Surfer', cursive ;
    font-weight: bolder ;
}

/** Thèmes de couleurs =================================================================  */

body.default {

    --color-backgroung: #0AC3A7 ;
    --color-letter : #FFFDD8 ;
    --color-letf : #234B78 ;
    --color-right : #774359 ;
    --color-center : #D83A37 ;
    --color-button : #FFB400 ;
}

body.f0f {

    --color-backgroung: #FF00FF ;
    --color-letter : #FFCF48 ;
    --color-letf : #FF5679 ;
    --color-right : #FF9B4F ;
    --color-center : #FF00B7 ;
    --color-button : #F9F871 ;
}

body.black {

    --color-backgroung: #000000 ;
    --color-letter : #82A0AA ;
    --color-letf : #4B4A54 ;
    --color-right : #677381 ;
    --color-center : #2A272A;
    --color-button : #A3CFCD ;
}

body.matrix {

    --color-backgroung: #2F4858 ;
    --color-letter : #33FF00 ;
    --color-letf : #00BB9C ;
    --color-right : #0094A3 ;
    --color-center : #006D89;
    --color-button : #00DF74 ;
}